.progress-bar {
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333
}

.filler {
    background: #005180;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in
}